{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "{{ params['pod_name'] }}",
    "labels": {
      "app": "{{ params['pod_name'] }}",
      "username": "{{ params['user_name'] }}"
    }
  },
  "spec": {
    "affinity": {
      "nodeAffinity": {
        "requiredDuringSchedulingIgnoredDuringExecution": {
          "nodeSelectorTerms": [
            {
              "matchExpressions": [
                {
                  "key": "gpu-usage-mode",
                  "operator": "In",
                  "values": ["shared"]
                }
              ]
            }
          ]
        }
      }
    },
    "containers": [
      {
        "name": "tensorflow",
        "image": "{{ params['image_tag'] }}",
        "env": [
          {
            "name": "WEB_HOST_ENDPOINT",
            "value": "{{ params['web_host_endpoint'] }}"
          }{% if params.user_password %},
          {
            "name": "PASSWORD",
            "value": "{{ params['user_password'] }}"
          }{% elif params.token %},
          {
            "name": "TOKEN",
            "value": "{{ params['token'] }}"
          }{% endif %}{% if params.gpu_devices %},
          {
            "name": "CUDA_VISIBLE_DEVICES",
            "value": "{{ params['gpu_devices'] }}"
          }{% endif %}
        ],
        "ports": [
          {
            "containerPort": 8888
          }
        ],
        "resources": {
          "requests": {
            "cpu": "{{ params['cpu'] }}",
            "memory": "{{ params['mem'] }}Mi"
          }
        },
        "volumeMounts": [
          {
            "name": "nvidia-libs-volume",
            "mountPath": "/usr/local/nvidia",
            "readOnly": true
          },
          {
            "name": "user-data-volume",
            "mountPath": "/mnt/data"
          }{% if params['public_data_dir'] %},
          {
            "name": "public-data-volume",
            "mountPath": "/mnt/public"
          }{% endif %}
        ],
        "securityContext": {
          "privileged": true
        }
      }
    ],
    "volumes": [
      {
        "name": "nvidia-libs-volume",
        "hostPath": {
          "path": "{{ params['nvidia_driver'] }}"
        }
      },
      {
        "name": "user-data-volume",
        "hostPath": {
          "path": "{{ params['user_data_dir'] }}"
        }
      }{% if params['public_data_dir'] %},
      {
        "name": "public-data-volume",
        "hostPath": {
          "path": "{{ params['public_data_dir'] }}"
        }
      }{% endif %}
    ]
  }
}
